<section>
    <h1 class="background-highlight2">Forbidden</h1>
    <article class="container">
        <div>
            <p>
                You are not allowed to perform that action.
            </p>
        </div>
    </article>
</section>
