<section>
    <h1 class="background-highlight2">Oops...</h1>
    <article class="container">
        <div>
            <p>
                Something went wrong with the request. Please try again later.
            </p>
        </div>
    </article>
</section>
