<section>
    <h1 class="background-highlight2">Page not found</h1>
    <article class="container">
        <div>
            <p>
                The page you are looking for does not exist or has been deleted.
            </p>
        </div>
    </article>
</section>
