@using CleanKludge.Api.Responses.Articles
@model CleanKludge.Api.Responses.Articles.ArticleSection

<section class="section" data-section-type="Text">
    <div class="row editor-section-row">
        <div class="col-xs-12 editor-section editor-section-controls" role="group">
            <button type="button" class="btn btn-xs fa fa-search-plus preview-section"></button>
            <button type="button" class="btn btn-xs fa fa-pencil-square-o edit-section" style="display: none"></button>
            <button type="button" class="btn btn-xs fa fa-arrow-up"></button>
            <button type="button" class="btn btn-xs fa fa-arrow-down"></button>
            <button type="button" class="btn btn-xs fa fa-times"></button>
        </div>
    </div>
    <div class="row section-content">
        <article class="col-xs-12 editor-section">
            <div><p><textarea class="editor-area">@Model.Content</textarea></p></div>
        </article>
    </div>
    <div class="row preview-row" style="display: none">
    </div>
</section>